.wrapper {
    /* border: 1px solid red;*/
    width: 60%;
    margin: 0 auto;
    padding: 2%;
    margin: auto;
}

.bigwrapper {
    /* border: 1px solid red;*/
    width: 60%;
    margin: 0 auto;
    padding: 2%;
    margin: auto;
}

.img-responsive {
    width: 100%/*讓整張圖佔滿那個div區塊*/
}

.clearfix {
    /*因為左logo和右menu共90%下一行會跑來中間這因此用clearfix來卡個位*/
    float: none;
    clear: both;
}

.firsttitle {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 3%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.subtitle {
    font-size: 20px;
    font-weight: bold;
    color: red;
    text-align: center;
    margin-bottom: 3%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.col-1-1 {
    /*border: 1px solid black;*/
    width: 90%;
    /*原本設50%但又有border1px兩個加起來超過100%會跑到下一行所以設小於50%*/
    margin-right: 2%;
    margin-bottom: 3%;
}

.col-1-2 {
    /*border: 1px solid black;*/
    width: 45%;
    /*原本設50%但又有border1px兩個加起來超過100%會跑到下一行所以設小於50%*/
    margin-right: 2%;
}

.col-2 {
    /*border: 1px solid black;*/
    width: 45%;
    /*原本設50%但又有border1px兩個加起來超過100%會跑到下一行所以設小於50%*/
    float: left;
    margin-right: 2%;
    margin-bottom: 3%;
}

.text-center {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 3%;
    /*讓project那行文字靠中*/
}

.text-center-2 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 3%;
    /*讓project那行文字靠中*/
}

.block-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.firstpage {
    align-items: center;

}

table,tr,td{

    padding: 20px;
    font-size: 20px;
    font-weight:bold ;
    font-family: monospace;
    border:2px solid #000;
    border-collapse: collapse;
  
  
  
  }
  .font{
    color:white;
  }
  table{
    alignment:center;
  }
  th{
    background: rgb(128,34,34);
    color:white;
  }
  
  .subj1{
    background: rgb(1, 118, 6);
    color:white;
  }
  
  .subj2{
    background: rgb(1, 118, 254);
    color:white;
  }
  
  .subj3{
    background: rgb(197, 181, 254);
    color:white;
  }
  
  .subj4{
    background: rgb(124, 89, 36);
    color:white;
  }
  
  .subj5{
    background: rgb(241, 89, 36);
    color:white;
  }
  
  .subj6{
    background: rgb(101, 101, 104);
    color:white;
  }
  
  .work:hover {
      background:red;
  
  }
  
  .lab:hover {
      background:yellow;
  
  }
  
  td:hover {
      background:grey;
  
  }
  .center {
    margin-left: auto;
    margin-right: auto;
  }
  
  
  h1{
    font-size: 50;
    font-family: fantasy;
  }
  h2{
    font-weight: bold;
    font-size: 30px;
  
  
  }
  