/* 全域樣式 */
* {
  vertical-align: top;
  box-sizing: border-box;
  background-color: #f2f2e9;
  color: #24260f;
  font-family: lato, sans-serif;
  font-weight: 300;
  line-height: 36px;
  transition-duration: 0.5s;
}

html, body {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

/* 頂部區域 */
.top {
  height: 300px;
  background-color: #24260f;
}

.top-content {
  width: 1027px;
  height: 300px;
  background-color: #24260f;
  margin-right: auto;
  margin-left: auto;
}

.photo {
  width: 200px;
  height: 275px;
  display: inline-block;
  margin-top: 20px;
  margin-left: 300px;
  background-color: #24260f;
}
.photo h1 {
  text-align: center;
  font-weight: 500;
  font-size: 28px;
  position: relative;
  bottom: 15px;
  background-color: #24260f;
  color: #f2f2e9;
  margin-top: 30px;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

.info {
  width: 450px;
  height: 275px;
  margin-top: 20px;
  background-color: #24260f;
  display: inline-block;
}

.title {
  width: 350px;
  height: 80px;
  margin-left: 50px;
  padding-top: 15px;
  text-align: center;
  font-size: 26px;
  line-height: 80px;
  border-bottom: solid 3px #90a955;
  border-bottom: solid 3px #24260f;
  background-color: #24260f;
  color: #f2f2e9;
}

.contact {
  display: inline-block;
  margin-left: 50px;
  margin-top: 20px;
}

.url {
  padding-left: 10px;
  padding-top: 10px;
  background-color: #24260f;
  color: #f2f2e9;
}
.url span {
  line-height: 36px;
  font-family: karla, sans-serif;
  padding-left: 10px;
  background-color: #24260f;
  color: #f2f2e9;
}

/* 最大寬度容器 */
.max-width {
  width: 1027px;
  margin-right: auto;
  margin-left: auto;
}

.left, .right {
  display: inline-block;
  width: 49%;
  height: 700px;
}

/* 標題通用 */
.con-title {
  width: 450px;
  height: 50px;
  font-weight: 900;
  font-size: 20px;
  color: #90a955;
  margin-left: 30px;
  margin-top: 30px;
  padding-top: 15px;
  border-bottom: solid 1px #24260f;
}

/* 工作經歷 / 學歷 左側時間線 */
.ex-con-left, .ed-con-left {
  display: inline-block;
  width: 50px;
  height: 250px;
  margin-left: 30px;
}
.ex-con-left .dot, .ed-con-left .dot {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #24260f;
  margin-left: 20px;
  margin-top: 30px;
}
.ex-con-left .vertical-line, .ed-con-left .vertical-line {
  width: 3px;
  height: 170px;
  border-radius: 10%;
  background-color: #90a955;
  margin-left: 24px;
  margin-top: 5px;
}

/* 工作經歷 / 學歷 右側內容 */
.ex-con-right, .ed-con-right {
  display: inline-block;
  width: 400px;
  height: 250px;
}
.ex-con-right h3, .ed-con-right h3 {
  margin: 10px;
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
}
.ex-con-right h5, .ed-con-right h5 {
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #90a955;
}
.ex-con-right span, .ed-con-right span {
  font-size: 16px;
  color: #24260f;
  margin: 10px;
}
.ex-con-right p, .ed-con-right p {
  margin: 10px 10px 0px 10px;
  line-height: 20px;
  font-size: 16px;
}
.ex-con-right br, .ed-con-right br {
  line-height: 26px;
}

/* 語言能力 */
.languages {
  height: 250px;
}

.la-title {
  margin-left: 10px;
}

.chinese {
  width: 150px;
  height: 150px;
  display: inline-block;
  border-radius: 100%;
  overflow: hidden;
  margin: 30px 15px 0px 10px;
  border: solid 5px #90a955;
}
.chinese h3 {
  text-align: center;
  margin-top: 40px;
  font-weight: bold;
  font-size: 16px;
}
.chinese h4 {
  text-align: center;
  margin-top: -20px;
  color: #90a955;
}

.outer-jp {
  width: 150px;
  height: 150px;
  display: inline-block;
  background: #c1d7ae;
  border-radius: 100%;
  position: relative;
  overflow: hidden;
  margin-top: 30px;
}
.sq1-jp {
  width: 150px;
  height: 150px;
  position: absolute;
  left: 75px;
  background-color: #90a955;
}
.sq2-jp {
  width: 75px;
  height: 75px;
  position: absolute;
  top: 75px;
  background-color: #90a955;
}
.sq3-jp {
  width: 75px;
  height: 75px;
  background-color: #90a955;
  transform-origin: bottom;
  transform: skewX(36deg);
}
.inner-jp {
  width: 140px;
  height: 140px;
  position: absolute;
  border-radius: 100%;
  top: 5px;
  left: 5px;
  background-color: #f2f2e9;
  overflow: hidden;
}
.inner-jp h3 {
  text-align: center;
  margin-top: 40px;
  font-weight: bold;
  font-size: 16px;
}
.inner-jp h4 {
  text-align: center;
  margin-top: -20px;
  color: #90a955;
}

.outer-eng {
  width: 150px;
  height: 150px;
  display: inline-block;
  background: #c1d7ae;
  border-radius: 100%;
  position: relative;
  overflow: hidden;
  margin-top: 30px;
  margin-left: 10px;
}
.sq1-eng {
  width: 150px;
  height: 150px;
  position: absolute;
  left: 75px;
  background-color: #90a955;
}
.sq2-eng {
  width: 75px;
  height: 75px;
  position: absolute;
  top: 75px;
  background-color: #90a955;
}
.inner-eng {
  width: 140px;
  height: 140px;
  position: absolute;
  border-radius: 100%;
  top: 5px;
  left: 5px;
  background-color: #f2f2e9;
  overflow: hidden;
}
.inner-eng h3 {
  text-align: center;
  margin-top: 40px;
  font-weight: bold;
  font-size: 16px;
}
.inner-eng h4 {
  text-align: center;
  margin-top: -20px;
  color: #90a955;
}

/* 技能 */
.skills {
  height: 200px;
}

.sk-title {
  margin-left: 10px;
  margin-top: 0px;
}

.skill-con-left, .skill-con-right {
  display: inline-block;
  width: 230px;
  height: 130px;
  margin-top: 20px;
}

.skill-bar span {
  display: inline-block;
  font-weight: bold;
  margin-left: 10px;
  width: 90px;
}

.skill-level {
  display: inline-block;
  margin-left: 10px;
}

.yes {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: #90a955;
  margin-top: 10px;
  margin-right: 2px;
}
.no {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: #c1d7ae;
  margin-top: 10px;
  margin-right: 2px;
}

/* 作品集 */
.portfolio {
  height: 200px;
}

.po-con-right, .po-con-middle, .po-con-left {
  display: inline-block;
  transition-duration: 0.5s;
  width: 150px;
  height: 160px;
  margin-left: 10px;
  padding-top: 10px;
  opacity: 0.5;
  position: relative;
  top: 0px;
}
.po-con-right span, .po-con-middle span, .po-con-left span {
  display: inline-block;
  font-weight: bold;
  width: 100px;
  text-align: center;
}
.po-con-left span {
  padding-right: 15px;
}
.po-con-right:hover, .po-con-middle:hover, .po-con-left:hover {
  opacity: 1;
}
.po-con-right:active, .po-con-middle:active, .po-con-left:active {
  top: 10px;
}

/* 響應式 <768px */
@media (max-width: 768px) {
  /* 頂部區域 */
  .top {
    height: auto;
    padding: 20px 0;
    text-align: center;
  }

  .top-content {
    width: 100%;
    height: auto;
    display: block;
  }

  .photo {
    display: block;
    margin: 0 auto;
    width: 160px;
    height: auto;
  }

  .photo img {
    width: 160px;
    height: 160px;
  }

  .photo h1 {
    font-size: 22px;
    margin: 15px 0;
  }

  .info {
    width: 100%;
    height: auto;
    margin: 15px auto 0;
    display: block;
    text-align: center;
  }

  .title {
    margin: 0 auto;
    width: 80%;
    font-size: 20px;
    line-height: normal;
    padding: 10px 0;
  }

  .contact {
    display: block;
    margin: 15px auto;
  }

  .url {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* 內容容器 */
  .max-width {
    width: 95%;
  }

  .content {
    display: block;
  }

  .left, .right {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 40px;
  }

  /* 標題 */
  .con-title {
    width: 100%;
    font-size: 18px;
    margin-left: 0;
    text-align: center;
  }

  /* 語言能力 */
  .languages {
    height: auto;
    text-align: center;
  }

  .chinese, .outer-jp, .outer-eng {
    margin: 15px auto;
    display: block;
  }

  /* 技能 */
  .skills {
    height: auto;
    text-align: center;
  }

  .skill-con-left, .skill-con-right {
    display: block;
    width: 100%;
    margin: 10px 0;
    text-align: center;
  }

  .skill-bar span {
    display: block;
    margin: 5px auto;
    text-align: center;
  }

  .skill-level {
    display: flex;
    justify-content: center;
    margin: 5px 0;
  }

  /* 作品集 */
  .portfolio {
    height: auto;
    text-align: center;
    margin-top: 20px;
  }

  .po-con-right, .po-con-middle, .po-con-left {
    display: inline-block;
    width: 45%;
    height: auto;
    margin: 10px 5px;
  }

  .po-con-right span, .po-con-middle span, .po-con-left span {
    width: auto;
    display: block;
    margin-top: 8px;
  }
  .ed-con-left {
    display: flex;              /* 改成flex水平佈局 */
    align-items: center;        /* 垂直置中 */
    width: 100%;                /* 撐滿 */
    height: auto;               /* 高度自動 */
    margin: 20px 0;             /* 上下留空隙 */
  }

  .ed-con-left .dot {
    margin: 0 10px;             /* 左右間距 */
  }

  .ed-con-left .vertical-line {
    width: 170px;               /* 橫向長度 */
    height: 3px;                /* 變成橫線 */
    margin: 0 10px;             /* 左右間距 */
  }

  /* 讓右側內容緊跟橫向排列 */
  .ed-con-right {
    display: block;
    width: 100%;
    margin-top: 15px;
  }
}


/* 響應式 <480px (手機更小螢幕再優化) */
@media (max-width: 480px) {
  .po-con-right, .po-con-middle, .po-con-left {
    width: 100%;
    margin: 10px 0;
  }
}
